<div class="row">
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">
          <%= t('policies.edit.edit_policy')%>
        </h2>
      </div>
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>